<h1>How do you feel about doing these sorts of things?</h1>

<%= form_for @form, as: :submission, url: submission_feelings_path(@submission), method: :put do |f| %>

  <%= render 'shared/errors', object: @form, message: 'Please answer all the questions' %>

  <section class="feelings-about-things">
    <h2>Join headingley Library. It's free, and all you need is your ID.</h2>
    <div>
      <%= f.radio_button :feelings_1, 'happy' %>
      <%= f.label :feelings_1_happy, 'ðŸ˜€' %>
    </div>
    <div>
      <%= f.radio_button :feelings_1, 'indifferent' %>
      <%= f.label :feelings_1_indifferent, 'ðŸ˜' %>
    </div>
    <div>
      <%= f.radio_button :feelings_1, 'sad' %>
      <%= f.label :feelings_1_sad, 'â˜¹ï¸' %>
    </div>
  </section>

  <section class="feelings-about-things">
    <h2>Join headingley Library. It's free, and all you need is your ID.</h2>
    <div>
      <%= f.radio_button :feelings_1, 'happy' %>
      <%= f.label :feelings_1_happy, 'ðŸ˜€' %>
    </div>
    <div>
      <%= f.radio_button :feelings_1, 'indifferent' %>
      <%= f.label :feelings_1_indifferent, 'ðŸ˜' %>
    </div>
    <div>
      <%= f.radio_button :feelings_1, 'sad' %>
      <%= f.label :feelings_1_sad, 'â˜¹ï¸' %>
    </div>
  </section>

  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
