<h1>Feelings</h1>

<%= form_for @form, as: :submission, url: submission_feelings_path(@submission), method: :put do |f| %>

  <%= render 'shared/errors', object: @form, message: 'Please answer all the questions' %>

  <p>How do you feel about this thing?</p>
  <%= f.label :feelings_1_happy, 'Happy' %>
  <%= f.radio_button :feelings_1, 'happy' %>
  <%= f.label :feelings_1_indifferent, 'Indifferent' %>
  <%= f.radio_button :feelings_1, 'indifferent' %>
  <%= f.label :feelings_1_sad, 'Sad' %>
  <%= f.radio_button :feelings_1, 'sad' %>

  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
