<h1><%= @member.uuid %> (<%=@member.postcode%>)</h1>
<h2>Source: <%=@member.source%></h2>

<hr />

<% @member.submissions.by_created.each_with_index do |submission, index| %>
  <h2>
    Submission <%= index + 1%>: <%= submission.created_at %>
  </h2>
  <% unless submission.finished? %>
    <p class="message message-error">UNFINISHED</p>
  <% end %>
  <table>
    <tbody>
      <tr>
        <td>Involvement</td>
        <td><%= submission.involvement %></td>
      </tr>
      <tr>
        <td>Distance</td>
        <td><%= submission.distance %> minutes <%= submission.distance_mode %> from <%= @member.postcode %></td>
      </tr>
      <tr>
        <td>Activities</td>
        <td>
          <ol>
            <%- submission.interests.by_position.each do |interest| %>
              <li>
                <%= interest.response_emoji %>&nbsp;<%=interest.activity.name%>
              </li>
            <% end %>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Activity suggestion</td>
        <td><%= submission.activity_suggestion %></td>
      </tr>
    </tbody>
  </table>

<% end %>
