<h1>How far are you willing to go?</h1>

<%= form_for @form, as: :submission, url: submission_distance_path(@submission), method: :put do |f| %>

  <%= render 'shared/errors', object: @form, message: 'Please fill in all the details' %>

  Find things to do
  <%= f.number_field :distance, min: 1 %>
  minutes
  <%= f.select :distance_mode, options_for_select(@form.transport_options)%>
  from home (<%=@submission.member.postcode%>).
  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
