<%= intro my_name: 'Gavin', avatar: 'gavin.png' do %>
  <p>Hi Christina, I’ve found some things for you to do in LS16. Take a look and let me know how you get on!</p>
<% end %>

<%= recommendation id: 'leeds-tool-library', why: 'You said you’d like to share your tools' do %>
    <h1><span>Interested in sharing your tools?</span> What tools do you have to share specifically? You may be interested in contacting the Leeds Tool Library as they a trying to build up a resource of tools.</h1>
  <section class="recommendation-details">
    <header>
      <dl>
        <dt>Hyde Park Source</dt>
        <dd class="availability">Open: Tuesday - Friday: 9am - 5pm</dd>
      </dl>
    </header>
    <div class="location-details">
      <%= map(latitude: 53.8071291, longitude: -1.5670411) %>
      <dl>
        <dd>Hyde Park Source, 2 Rosebank Road, Leeds, LS3 1HH</dd>
        <dd>35 minutes by bus <a href="https://www.google.co.uk/maps/dir//Hyde+Park+Source,+Rosebank+Road,+Leeds/@53.8071056,-1.6348917,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x48795eae1c0faf4f:0xe2c5c160ed476ccc!2m2!1d-1.5648524!2d53.807126" target="_blank">Get directions</a></dd>
      </dl>
    </div>
  </section>
  <section class="call-to-action">
    <div class="action">
      <h2>Read more about the tool library</h2>
      <a href="http://www.hydeparksource.org/leeds-tool-libary.html" target="_blank">hydeparksource.org</a>
    </div>
  </section>
<% end %>

<%= recommendation id: 'others-want-to-share-tools', why: 'You said you’d like to borrow some tools' do %>
  <h1><span>Someone nearby wants to share their tools</span></h1>
  <div class="other-people">
    <img src="<%= image_path 'anonymous.svg' %>" alt=""><br /><br />
  </div>
  <section class="start-something-detail">
    <p>This person lives about a 45 minute walk from you but if you were to meet in the middle then this would fit in with your 20 minutes walk distance which you stated. Do you want me to introduce you?</p>
    <%= interest_button "Yes, introduce me" %>
    <p class="helper-text">(Only your first name and email address will be shared)</p>
  </section>
<% end %>

<%= recommendation id: 'west-yorkshire-playhouse', why: 'You said you’d like to go to a show' do %>
    <h1><span>There are plenty of shows which are taking place in the comings days</span> at venues in the city centre such as The Lion, The Witch &amp; The Wardrobe. Unfortunately I was unable to find any shows that were within a 20 minute walk from your location.</h1>
  <section class="recommendation-details">
    <header>
      <img src="<%= image_path 'west-yorkshire-playhouse.png' %>" alt="">
      <dl>
        <dt>West Yorkshire Playhouse</dt>
      </dl>
    </header>
    <div class="location-details">
      <%= map(latitude: 53.7980412, longitude: -1.5365653) %>
      <dl>
        <dd>Playhouse Square, Quarry Hill, Leeds LS2 7UP</dd>
        <dd>About 40 minutes by public transport <a href="https://www.google.co.uk/maps/dir//West+Yorkshire+Playhouse,+Playhouse+Square,+Quarry+Hill,+Leeds/@53.7980208,-1.6044159,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x48795c16cbb4b68f:0xd6ea21dab9c96c81!2m2!1d-1.5343766!2d53.7980412!3e3" target="_blank">Get directions</a></dd>
      </dl>
    </div>
  </section>
  <section class="call-to-action">
    <div class="action">
      <h2>Take a look at upcoming shows</h2>
      <a href="https://www.wyp.org.uk/about/whats-on" target="_blank">wyp.org.uk/about/whats-on</a>
    </div>
  </section>
<% end %>

<%= recommendation id: 'meanwood-valley-trail', why: 'You said you’d like to go for a walk' do %>
    <h1><span>How about a local walk on the Meanwood Valley Trail.</span> Although the trail starts in the city centre you could start your walk in Meanwood Park and follow Route 2.</h1>
  <section class="recommendation-details">
    <header>
      <img src="<%= image_path 'mvt.png' %>" alt="">
      <dl>
        <dt>Meanwood Park</dt>
        <dd>Open: 8am - 4pm every day</dd>
      </dl>
    </header>
    <div class="location-details">
      <%= map(latitude: 53.831839, longitude: -1.6432467) %>
      <dl>
        <dd>8 Tannery Square, Leeds LS6 4LT</dd>
        <dd>28 minute walk <a href="https://www.google.co.uk/maps/dir//Meanwood+Park,+8+Tannery+Square,+Leeds+LS6+4LT/@53.831839,-1.6432465,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x487959417d0d3b5f:0x43ab358a34cabf16!2m2!1d-1.5732072!2d53.8318594!3e2" target="_blank">Get directions</a></dd>
      </dl>
    </div>
  </section>
  <section class="call-to-action">
    <div class="action">
      <h2>Get details of the route</h2>
      <a href="http://www.leeds.gov.uk/docs/MVT%20leaflet%20for%20web.pdf" target="_blank">Meanwood Valley Trail [PDF]</a>
    </div>
  </section>
<% end %>

<%= recommendation id: 'village-gym', why: 'You said you’d like to go to an exercise class and stay healthy' do %>
    <h1><span>It’s January so it’s the time to start a new fitness routine.</span> There’s a gym based in Weetwood has over 90 classes per week across three studios, including pilates, yoga and Les Mills classes. There’s a group fitness class for everyone!</h1>
  <section class="recommendation-details">
    <header>
      <img src="<%= image_path 'village-gym.png' %>" alt="">
      <dl>
        <dt>Village Gym Leeds North</dt>
        <dd>Class times vary, check their <a href="https://www.villagegym.co.uk/media/1997/village-gym-leeds-north-group-fitness.pdf" target="_blank">timetable [PDF]</a></dd>
      </dl>
    </header>
    <div class="location-details">
      <%= map(latitude: 53.8343008, longitude: -1.59207) %>
      <dl>
        <dd>186 Otley Road, Leeds, LS16 5PR</dd>
        <dd>30 minute walk <a href="https://www.google.co.uk/maps/dir//Village+Hotel+Leeds+North,+186+Otley+Rd,+Headingly,+Leeds+LS16+5PR/@53.8341746,-1.6597953,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x487959170b24dbbd:0xf7d7911c75845ff6!2m2!1d-1.589756!2d53.834195!3e2" target="_blank">Get directions</a></dd>
      </dl>
    </div>
  </section>
  <section class="call-to-action">
    <div class="action">
      <h2>Find out more about the gym</h2>
      <a href="https://www.villagegym.co.uk/locations/leeds-north/" target="_blank">villagegym.co.uk/locations/leeds-north/</a>
    </div>
  </section>
<% end %>
