<%= intro my_name: 'Sophy', avatar: 'sophy.png' do %>
  <p>Hi Maraya, Sophy here. I’ve had a go at finding some things for you to do near LS7. If I’ve got something wrong or you want me to find something else then let me know.</p>
<% end %>

<%= recommendation id: 'getting-fit-roundhay-park', why: 'You said you’d like to go to an exercise class' do %>
  <h1><span>What about getting fit in Roundhay Park</span> - I found some bootcamp outdoor sessions - is this right for you? You don’t have to be super fit to take part and every class is different. I’ve done bootcamp fitness before - it is quite hard work but you do feel great afterwards.</h1>
  <section class="recommendation-details">
    <header>
      <div class="date">
        <span>16</span>
        <span>Jan</span>
      </div>
      <dl>
        <dt>UK Outdoor Fitness Group</dt>
        <dd>£7 per session</dd>
        <dd class="availability">Next session: Tuesday 16 January 9.30am</dd>
      </dl>
    </header>
    <div class="location-details">
      <%= map(latitude: 53.833567, longitude: -1.503927) %>
      <dl>
        <dd>Roundhay Park, Mansion Ln, Leeds LS8 2HH</dd>
        <dd>35 minutes walk <a href="https://www.google.co.uk/maps/dir//Roundhay+Park,+Mansion+Ln,+Leeds+LS8+2HH/@53.82939,-1.5759173,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x48795b0b0acc019f:0x58de428758fe0d6e!2m2!1d-1.5058778!2d53.8294104!3e2" target="_blank">Get directions</a></dd>
        <dd>Meet at the main car park nearest Roundhay Fox on Street Lane / Princes Avenue</dd>
      </dl>
    </div>
  </section>
  <section class="call-to-action">
    <div class="action">
      <h2>Sign up</h2>
      <a href="https://ukoutdoorfitness.com/venue/roundhay-park/" target="_blank">ukoutdoorfitness.com/venue/roundhay-park/</a>
    </div>
  </section>

  <div class="other-people">
    <img src="<%= image_path 'anonymous.svg' %>" alt="">
  </div>
  <section class="start-something-detail">
    <h2>Connect with people in your neighbourhood</h2>
    <p>We’re recommending this activity to one other person in your neighbourhood. Would you like me to introduce you to them?</p>
    <%= interest_button "Yes, introduce me" %>
    <p class="helper-text">(Only your first name and email address will be shared)</p>
  </section>

<% end %>

<%= recommendation id: 'east-leeds-music-centre', why: 'You said you’d like to learn to play a musical instrument' do %>
  <h1><span>Discover your passion for music.</span> I found a music school fairly close to you. They offer teaching for a range of instruments in individual classes and group sessions for all abilities.</h1>
  <section class="recommendation-details">
    <header>
      <dl>
        <dt>North Leeds Music Centre</dt>
        <dd>Saturdays (term time only), 9am - 12.30pm</dd>
        <dd>£12.50 per lesson</dd>
        <dd>Choose a class and sign up: <a href="http://artformsleeds.co.uk/music/citywide-and-community-music-making/music-centres/north-leeds-music-centre/" target="_blank">artformsleeds.co.uk</a></dd>
      </dl>
    </header>
    <div class="location-details">
      <%= map(latitude: 53.848960, longitude: -1.547864) %>
      <dl>
        <dd>Allerton C of E Primary School, Lingfield Approach, Alwoodley, Leeds, LS17 7HL</dd>
        <dd>22 minutes by bus from home <a href="https://www.google.co.uk/maps/dir//Lingfield+Approach,+Leeds+LS17+7HL/@53.8488396,-1.5493223,17z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x48795bd0d7181ee9:0x4c792fde0f9feceb!2m2!1d-1.5471336!2d53.8488396!3e3?dcr=0" target="_blank">Get directions</a> </dd>
        <dd class="availability">Next class: Saturday 13 January</dd>
      </dl>
    </div>
  </section>
<% end %>

<%= recommendation id: 'leeds-savage-club', why: 'You said you’d like to learn creative writing skills' do %>
  <h1><span>Would you like to meet up with other writers?</span> The Leeds Savage Club meet every other Wednesday to write short pieces together. All styles of writing and levels of experience are welcome.</h1>
  <section class="recommendation-details">
    <header>
      <dl>
        <dt>Leeds Savage Club</dt>
        <dd>Every other Wednesday at 7pm</dd>
        <dd>Free</dd>
        <dd>Sign up on their meetup page: <a href="https://www.meetup.com/The-Leeds-Savage-Club/" target="_blank">www.meetup.com/The-Leeds-Savage-Club</a></dd>
      </dl>
    </header>
    <div class="location-details">
      <%= map(latitude: 53.7849268, longitude: -1.565354) %>
      <dl>
        <dd>Meet at the Pack Horse Inn, Pack Horse Yard, Leeds LS1 6AT</dd>
        <dd>21 minutes by bus from home <a href="https://www.google.co.uk/maps/dir//Leeds+LS1+6AT/@53.7975555,-1.5449557,17z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x48795c1bd8a0ab19:0x28693090f9cb56b0!2m2!1d-1.542767!2d53.7975555!3e3?dcr=0" target="_blank">Get directions</a> </dd>
        <dd class="availability">Next meetup: 17 January</dd>
      </dl>
    </div>
  </section>
<% end %>

<%= recommendation id: 'seven-arts', why: 'You said you’d like to go to a concert' do %>
  <h1><span>Fancy some afternoon jazz?</span> I found a concert that is happening near you this Sunday afternoon. I don’t know the artist but it looks really good - he’s played with James Brown!</h1>
  <section class="recommendation-details">
    <header>
      <dl>
        <dt>JazzLeeds – Piero Tucci’s Canadian Quartet</dt>
        <dd>Sunday 14 January 1.30 - 4pm</dd>
        <dd>£10</dd>
        <dd>Book tickets: <a href="http://www.sevenleeds.co.uk/event/jazzleeds-piero-tuccis-canadian-quartet/" target="_blank">www.sevenleeds.co.uk</a></dd>
      </dl>
    </header>
    <div class="location-details">
      <%= map(latitude: 53.827912, longitude: -1.537372) %>
      <dl>
        <dd>Seven Arts, 31A Harrogate Rd, Leeds LS7 3PD</dd>
        <dd>7 minutes walk from home <a href="https://www.google.co.uk/maps/dir//Harrogate+Road,+Leeds+LS7+3PD/@53.8280052,-1.5398235,17z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x48795bef0e1e5661:0x5a3cfb0e2719815e!2m2!1d-1.5376348!2d53.8280052!3e2?dcr=0" target="_blank">Get directions</a> </dd>
        <dd class="availability">Date and time: Sunday 14 January 1.30 - 4pm</dd>
      </dl>
    </div>
  </section>
<% end %>
