<%= intro my_name: 'James', avatar: 'iiva.png' do %>
  <p>Hi, I’ve found some things for you to do in Leeds. Please take a look and let me know how you get on!</p>
<% end %>

<%= recommendation id: 'learn-italian-with-ilva', why: 'You said you’d like to grow a garden and plant a communal herb garden' do %>
  <h1><span>Learn Italian with Ilva.</span> She’ll teach you in exchange for helping her with English. Fantastico! 🇮🇹</h1>
  <section class="recommendation-details">
    <header>
      <img src="<%= image_path 'iiva.png' %>" alt="">
      <dl>
        <dt>Iiva, Leeds UK</dt>
        <dd>Contact her on <a target="_blank" href="#">mylanguageexchange.com</a></dd>
        <dd class="note">(Note: You’ll need to register first)</dd>
      </dl>
    </header>
  </section>
<% end %>

<%= recommendation id: 'grow-garden-appltree', why: 'You said you’d like to grow a garden and plant a communal herb garden' do %>
  <h1><span>Grow a garden at Appletree,</span> an outdoor community resource, where people of all ages and from all walks of life get together to grow.</h1>
  <section class="recommendation-details">
    <header>
      <img src="<%= image_path 'appletree.png' %>" alt="">
      <dl>
        <dt>Appletree Allotment and Community Garden</dt>
        <dd>Find out more: <a target="_blank" href="http://www.wakefield.gov.uk/sport-and-leisure/wakefield-wellbeing/appletree" target="_blank">wakefield.gov.uk</a></dd>
      </dl>
    </header>
    <div class="location-details">
      <div class="map">
        <%= map(latitude: 53.695692, longitude: -1.520273) %>
      </div>
      <dl>
        <dt>Off Agbrigg Road, Wakefild, WF1 5AE</dt>
        <dd>Around 12 minute drive <a target="_blank" href="https://www.google.com/maps?ll=53.695692,-1.520273&z=12&t=m&hl=en-GB&gl=US&mapclient=embed&saddr=WF3+1ER,+Nook+Green,+Tingley,+Wakefield&daddr=41-67+Agbrigg+Rd,+Wakefield+WF1&dirflg=d" target="_blank">Get directions</a></dd>
        <dd class="availability">Next open: Tomorrow 10am - 4pm</dd>
      </dl>
    </div>
  </section>
<% end %>

<%= recommendation id: 'singing-with-others', why: 'You said you’d like to sing' do %>
  <h1><span>Other people near you want to sing.</span> You're not alone!</h1>
  <div class="other-people">
    <img src="<%= image_path 'anonymous.svg' %>" alt="">
    <img src="<%= image_path 'anonymous.svg' %>" alt="">
    <img src="<%= image_path 'anonymous.svg' %>" alt="">
  </div>
  <section class="start-something-detail">
    <h2>Start something new</h2>
    <p>You could organise a get together with these people and sing until your heart’s content.</p>
    <%= interest_button "I'm interested in this" %>
    <p class="helper-text">(Only your first name and email address will be shared)</p>
  </section>
<% end %>

<%= recommendation id: 'bingo-fish-chips', why: 'You said you’d like to meet new people and enjoy food together' do %>
  <h1><span>How do you fancy bingo and fish ’n’ chips?</span> Join this group of people for good food and good conversation.</h1>
  <section class="recommendation-details">
    <header>
      <div class="date">
        <span>9</span>
        <span>Jan</span>
      </div>
      <dl>
        <dt>Bingo with Fish & Chip Lunch</dt>
        <dd>Every second Tuesday of the month</dd>
        <dd>View on <a target="_blank" href="#">meetup.com</a></dd>
      </dl>
    </header>
    <div class="location-details">
      <%= map(latitude: 53.695692, longitude: -1.520273) %>
      <dl>
        <dt>Unity Court, 431 Meanwood Road, Leeds</dt>
        <dd>29 minute drive <a target="_blank" href="#">Get directions</a></dd>
        <dd class="availability">Next event: Tuesday 12:30pm</dd>
      </dl>
    </div>
  </section>
<% end %>

<%= recommendation id: 'use-social-media', why: 'You said you’d like to learn social media' do %>
  <h1><span>Learn how to use social media.</span> Just sign up to this website and make a request.</h1>
  <section class="recommendation-details">
    <header>
      <dl>
        <dt>Visit this website:</dt>
        <dd><a target="_blank" href="https://learnsocialmedia.com">learnsocialmedia.com</a></dd>
        <dd class="note">(Note: You’ll need to register first)</dd>
      </dl>
    </header>
  </section>
<% end %>

<%= recommendation id: 'bonus-suggestion', why: 'You said you’d like to meet new people and enjoy food together and learn Italian' do %>
  <h1><span class="bonus">Bonus suggestion:</span> I have found an Italian cooking course where you’ll get chance to meet new people and learn some new dishes.</h1>
  <p class="expanded-intro">
    It’s an extra <span class="info-warning">5 minutes further away than you said you’d be happy to drive</span>, but if you’re into all things Italian then this could be one not to miss!
  </p>
  <section class="recommendation-details">
    <header>
      <div class="date">
        <span>6</span>
        <span>Jun</span>
      </div>
      <dl>
        <dt>Italian Kitchen cooking course</dt>
        <dd>Cost: £150 for 4 evening classes</dd>
        <dd>Found out more: <a target="_blank" href="#">get-cooking.org.uk</a></dd>
      </dl>
    </header>
    <div class="location-details">
      <%= map(latitude: 53.695692, longitude: -1.520273) %>
      <dl>
        <dt>Gate 3, 43a Springfield Centre, Bagley lane, Farsley, Leeds</dt>
        <dd><span class="info-warning">32 minutes</span> <a target="_blank" href="#">Get directions</a></dd>
        <dd class="availability">Start date: Wednesday 6:30pm - 8:30</dd>
      </dl>
    </div>
  </section>
<% end %>

<%= recommendation id: 'walk-neighbours-dog', why: 'You said you’d like to walk a dog' do %>
  <h1><span>Walk a neighbour’s dog.</span> Just sign up to this website and make a request.</h1>
  <section class="recommendation-details">
    <header>
      <dl>
        <dt>Mary is looking for someone to walk her dog</dt>
        <dd><a target="_blank" href="#" class="btn btn-primary">Dog Walkies website</a></dd>
        <dd class="note">(Note: You’ll need to register first)</dd>
      </dl>
    </header>
  </section>
<% end %>
