<%= form_for @form, as: :submission, url: submission_this_that_path(@submission), method: :put do |f| %>
  <%= render 'shared/errors', object: @form, message: 'Please select an answer for each choice' %>

  <% @questions.each do |question| %>
    <fieldset class="thunbs-up-down">
      <p>I want to...</p>
      <div class="choice">
        <%= f.radio_button question[:name], 't' %>
        <%= f.label :"#{question[:name]}_t" do %>
          <%= question[:left][:name] %>
        <% end %>
      </div>
    </fieldset>
  <% end %>

  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
