<h1>This or that?</h1>

<%= form_for @form, as: :submission, url: submission_this_that_path(@submission), method: :put do |f| %>

  <%= render 'shared/errors', object: @form, message: 'Please select an answer for each choice' %>

  <fieldset class="polar-choice">
    <div class="choice">
      <div>
        <%= f.radio_button :this_1, 't' %>
        <%= f.label :this_1_t do %>
          Graffiti
          <%= image_tag 'graffiti.png', alt: "Graffiti" %>
        <% end %>
      </div>
      <div>
        <%= f.radio_button :this_1, 'f' %>
        <%= f.label :this_1_f do %>
          Nature
          <%= image_tag 'nature.png', alt: "Nature" %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
