<%= form_for @form, as: :submission, url: submission_this_that_path(@submission), method: :put do |f| %>
  <%= render 'shared/errors', object: @form, message: 'Please select an answer for each choice' %>

  <% @questions.each do |question| %>
    <fieldset class="polar-choice">
      <p>I want to...</p>
      <div class="choice">
        <div>
          <%= f.radio_button question[:name], 't' %>
          <%= f.label :"#{question[:name]}_t" do %>
            <%= question[:left][:name] %>
          <% end %>
        </div>
        <div>
          <%= f.radio_button question[:name], 'f' %>
          <%= f.label :"#{question[:name]}_f" do %>
            <%= question[:right][:name] %>
          <% end %>
        </div>
      </div>
    </fieldset>
  <% end %>
  <p>with people in my neighbourhood</p>

  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
