<%= form_for @submission, url: submission_activities_path(@submission), method: :put do |f| %>
  <p class="begin-statement">I would like to...</p>
  <%= f.fields_for :interests, @interests do |interest_fields| %>
    <fieldset class="thumbs-up-down">
      <%= interest_fields.hidden_field :position %>
      <%= interest_fields.hidden_field :activity_id %>
      <div class="statement statement-color-<%= rand(1..8) %>">
        <p>
          <%= interest_fields.object.activity.name %>
        </p>
      </div>
      <p class="end-statement">... with people in my neighbourhood</p>
      <div class="thumbs-up-down-choice">
        <%= interest_fields.label :response_yes, 'ðŸ‘' %>
        <%= interest_fields.radio_button :response, 'yes' %>
        <%= interest_fields.label :response_no, 'ðŸ‘Ž' %>
        <%= interest_fields.radio_button :response, 'no' %>
        <%= interest_fields.radio_button :response, 'unseen' %>
      </div>
    </fieldset>
  <% end %>
<% end %>
